<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.surfilter.dao.IpMapper">
    <select id="ListIps" parameterType="int" resultType="ip" fetchSize="10000">
        select * from ip limit #{count},10000
    </select>
    <insert id="addListIps"  parameterType="java.util.List">
        insert into ip (
            start_ip,
            start_ip_num,
            end_ip,
            end_ip_num,
            address,
            specific_address
        )  values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.startIp},
            #{item.startIpNum},
            #{item.endIp},
            #{item.endIpNum},
            #{item.address},
            #{item.specificAddress}
            )
        </foreach>
    </insert>


</mapper>