body {
    width: 98%;
    margin: 0 auto;
}
/* 导航 */
.dnsnav {
    position: fixed !important;
    top: 0;
    z-index: 1;
}
.dnsmap {
    width: 100%;
    height: 800px;
    overflow: hidden;
    margin:0;
    font-family:"微软雅黑";
    top:44px;
}
.info div{
    float: left;
    width: 50%;
}
.domianinfo{
    top: 870px;
    position: absolute;
    width: 98%;
}
.info-tip{
    color: #5872de !important;
    cursor:pointer;
}
.category_tap {
    position: absolute;
    top: 5px;
    right:20px;
    width: 300px;
}