<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <script  src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- 表格插件 -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
</head>
<body>
<table class="table table-hover table-striped" id="example" >
    <thead>
    <tr>
        <th>编号</th>
        <th>单位代码</th>
        <th>名称</th>
        <th>总个数</th>
        <th>面积</th>
        <th>面积a</th>
    </tr>
    </thead>
</table>
</body>
<script>


</script>
</html>