<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <script  src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- 表格插件 -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
</head>
<body>
<table class="table table-hover table-striped" id="example" >
    <thead>
    <tr>
        <th>编号</th>
        <th>单位代码</th>
        <th>名称</th>
        <th>总个数</th>
        <th>面积</th>
        <th>面积a</th>
    </tr>
    </thead>
</table>
</body>
<script>
    // var resulttable = $('#resulttable').DataTable({
    //     destroy: true,
    //     // data: tableData,
    //     order: [[ 2, "desc" ]],
    //     fnDrawCallback: function(){
    //         this.api().column(0).nodes().each(function(cell, i) {
    //             cell.innerHTML =  i + 1;
    //         });
    //     },
    //     pageLength:10,
    //     language: {
    //         "sProcessing": "处理中...",
    //         "sLengthMenu": "显示 _MENU_ 项结果",
    //         "sZeroRecords": "没有匹配结果",
    //         "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
    //         "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
    //         "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
    //         "sInfoPostFix": "",
    //         "sSearch": "搜索:",
    //         "sUrl": "",
    //         "sEmptyTable": "表中数据为空",
    //         "sLoadingRecords": "载入中...",
    //         "sInfoThousands": ",",
    //         "oPaginate": {
    //             "sFirst": "首页",
    //             "sPrevious": "上页",
    //             "sNext": "下页",
    //             "sLast": "末页"
    //         },
    //         "oAria": {
    //             "sSortAscending": ": 以升序排列此列",
    //             "sSortDescending": ": 以降序排列此列"
    //         }
    //     }
    // });

    $('#example').dataTable( {
        "ajax": "info",
        "columns": [
            { "data": "name" },
            { "data": "position" },
            { "data": "office" },
            { "data": "extn" },
            { "data": "start_date" },
            { "data": "salary" }
        ]
    } );

</script>
</html>